@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.border-a {
  background: #88b788;
  border-radius: 20px;
  width: 15em;
  margin: 0 auto;
}

.promo-img {
  display: flex;
}

.font-promos {
  position: relative;
  left: 1.4em;
  margin: auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.7em;
  color: #000000;
}

@media only screen and (max-width: 526px) {
  .border-a {
    padding: 0;
  }
  .promo-img {
    margin: 0 auto;
  }
  .border-a {
    background: #88b788;
    border-radius: 20px;
    margin: 1em;
  }
  .font-promos {
    position: relative;
    left: -4.4em;
    margin: auto;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 0.7em;
    color: #000000;
  }
}
