@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.bg-home {
  background-image: url("../assets/Home/home1.png");
  background-position: center top;
  background-repeat: no-repeat;
  color: #ffffff;
}
ul li {
  list-style: none;
}
.header {
  padding: 3em;
}
.border {
  border: 1px black solid;
}
.coffee {
  color: #0b132a;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.home {
  color: #6a4029;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  position: relative;
  top: 0.5em;
}
.product {
  color: #4f5665;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  position: relative;
  top: 0.5em;
}
.login {
  color: #0b132a;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  position: relative;
  top: 0.5em;
}
.img-home {
  width: 100vw;
}
.fw-bold {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #0b132a;
}
.blacks {
  color: black;
}
.bullet-on {
  background-color: #6a4029;
  border-radius: 1em;
}
.bullet-off {
  background-color: #dde0e4;
  border-radius: 1em;
  height: 1em;
}
.act {
  position: relative;
}
.nonact {
  border: 0.1em solid #6a4029;
  border-radius: 10em;
  padding: 6em;
}
.human-bg1 {
  background: #ffba33;
  border-radius: 70px;
  padding: 0.8em;
}
.human-bg2 {
  background: #ffba33;
  border-radius: 70px;
  padding: 0.8em 1em;
}
.human-bg3 {
  background: #ffba33;
  border-radius: 1.5em;
  padding: 0.6em 0.5em;
}
.just-left {
  justify-content: left;
}
.first-border {
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.22);
  height: 10em;
  justify-content: center;
}
.staff {
  color: #4f5665;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
}
.get {
  background-color: #ffba33;
  border: 0;
  border-radius: 1.5vh;
  box-shadow: 0px 6px 20px rgba(255, 186, 51, 0.4);
  color: #6a4029;
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  margin: 1em 0 1em 0;
  padding: 1em 4em;
  text-align: Center;
  width: 45%;
  cursor: pointer;
}
.right-side1 {
  color: #0b132a;
  font-family: "Rubik";
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  margin-top: 5em;
}
.left-side1 {
  margin-top: 9em;
}
.position {
  position: relative;
  top: 6em;
}
.pos-abs {
  position: absolute;
}
.here {
  color: #0b132a;
  font-family: "Rubik";
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
}
.latte {
  color: #0b132a;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}
.left-m {
  margin-left: 5em;
}
.circular {
  border-radius: 10em;
}
.menu-tag {
  height: 35em;
  position: relative;
}
.border-c {
  background: #ffffff;
  border: 2px solid #dddddd;
  border-radius: 10px;
  margin: 0 2em;
}

.border-e {
  background: #ffffff;
  border: 2px solid #dddddd;
  border-radius: 10px;
  margin: 0 2em;
}

.border-d {
  background: #ffffff;
  border: 2px solid #6a4029;
  border-radius: 10px;
  margin: 0 2em;
}
.padding-p {
  padding-right: -2em;
}
.lets {
  color: #4f5665;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.IDR {
  color: #0b132a;
  font-family: "Rubik";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}
.order {
  border: 2px solid #ffba33;
  border-radius: 50px;
  color: #6a4029;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding: 0.5em 2em;
  cursor: pointer;
}
.order:hover {
  border: 2px solid #ffba33;
  border-radius: 50px;
  color: #6a4029;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  padding: 0.5em 2em;
  cursor: pointer;
}
.select {
  background-color: #ffba33;
  border: 2px solid #ffba33;
  border-radius: 50px;
  color: #6a4029;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding: 0.5em;
  cursor: pointer;
}
.select:hover {
  background-color: #ffba33;
  border: 2px solid #ffba33;
  border-radius: 50px;
  color: #6a4029;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  padding: 0.5em;
  cursor: pointer;
}
.name {
  color: #0b132a;
  display: flex;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.border-e,
.border-f,
.border-g {
  background: #ffffff;
  border: 2px solid #6a4029;
  border-radius: 10px;
}
.padding-e {
  padding: 2em;
}
.text-e {
  color: #0b132a;
  display: flex;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.price {
  bottom: 10%;
  position: absolute;
  width: 92%;
}
.eclipse1 {
  left: 22em;
  position: absolute;
  top: -1em;
}
.eclipse2 {
  bottom: -6.36em;
  left: 7em;
  position: absolute;
}
.arrow1 {
  left: 23.2em;
  position: absolute;
  top: 0.3em;
}
.arrow2 {
  left: 11em;
  position: absolute;
  top: 0.3em;
}
.promo {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.22);
  padding: 3em;
}
.see-promo {
  background-color: #ffba33;
  border: 2px solid #ffba33;
  border-radius: 1em;
  color: #6a4029;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  line-height: 2em;
  padding: 0.5em 2em;
}
.coffee-footer {
  color: #4f5665;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.copyright {
  color: #afb5c0;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.see-position {
  position: relative;
  top: 1em;
}
.footer-right1 {
  color: #0b132a;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin: 1em;
}
.footer-right2 {
  color: #4f5665;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 1em;
}
.img-size {
  max-width: 50em;
}
@media only screen and (max-width: 576px) {
  * {
    margin: 0;
    padding: 0;
  }
  .bg-home {
    background-image: url("../assets/Home/home1.png");
    background-position: center top;
    background-repeat: no-repeat;
    color: white;
  }
  .welcome {
    justify-content: center;
    margin-top: 5rem;
    text-align: center;
  }
  .coffee {
    color: #0b132a;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
  }
  .img-size {
    max-width: 22em;
  }
  .login {
    color: #0b132a;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    left: 6em;
    position: relative;
    top: 0.5em;
  }
  .first-border {
    align-items: center;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.22);
    height: 15em;
    justify-content: center;
  }
  .get {
    background-color: #ffba33;
    border: 0;
    border-radius: 1.5vh;
    box-shadow: 0px 6px 20px rgba(255, 186, 51, 0.4);
    color: #6a4029;
    font-family: "Poppins";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    margin: 1em 0 1em 0;
    text-align: Center;
    width: 100%;
  }
  .fw-bold {
    color: #0b132a;
    font-family: "Rubik";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
  }

  .arrow1 {
    left: 6.2em;
    position: absolute;
    top: -1.5em;
  }

  .arrow2 {
    left: 5em;
    position: absolute;
    top: -1.7em;
  }

  .eclipse1 {
    left: 5em;
    position: absolute;
    top: -2.85em;
  }

  .eclipse2 {
    bottom: -4.36em;
    left: 1em;
    position: absolute;
  }

  .elipse {
    display: none;
  }

  .border-h {
    background: #ffffff;
    border: 2px solid #6a4029;
    border-radius: 10px;
    margin: 1em 0em;
  }
  .border-f {
    display: none;
  }
  .border-g {
    display: none;
  }
  .staff-margin1 {
    /* align-items: center; */
    display: flex;
    flex-direction: column;
  }
  .staff-margin2 {
    margin-left: 1em;
  }
  .staff-margin3 {
    margin-left: 1em;
  }
  .signup {
    left: 5em;
    position: relative;
  }
  .left-side1 {
    margin-top: 9em;
    max-width: 25em;
  }
  .right-side1 {
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: normal;
    margin: 2em 0em;
  }
  .menu-tag {
    height: 35em;
    max-width: 20em;
    position: relative;
  }
  .centang {
    margin-right: 0.4em;
  }
  .ln-height {
    font-size: 12px;
    line-height: 2em;
  }
  .menu-over {
    overflow: scroll;
  }

  .border-c {
    background: #ffffff;
    border: 2px solid #dddddd;
    border-radius: 10px;
    margin: 2em 2em;
  }
  .border-e {
    display: none;
    background: #ffffff;
    border: 2px solid #dddddd;
    border-radius: 10px;
    margin: 0 2em;
  }

  .border-d {
    display: none;
    background: #ffffff;
    border: 2px solid #6a4029;
    border-radius: 10px;
    margin: 0 2em;
  }

  .price {
    bottom: 10%;
    position: absolute;
    width: 92%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 992px) {
  .menu-tag {
    height: 50em;
    max-width: 20em;
    position: relative;
  }
  .img-size {
    max-width: 40em;
  }
}
