body {
  margin: 0;
  margin-right: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  flex-direction: column;
  max-width: 1440px;
  padding: 0;
  margin: 0 auto;
}

a {
  text-decoration: none;
}